html.modal-active, body.modal-active {
    overflow: hidden;
}

.modal-message {
    color: black;
    font-size: 2em;
}

@keyframes roadRunnerIn {
    0% {
        transform: translateY(-1500px) skewX(30deg);
    }
    70% {
        transform: translateY(30px) skewX(0deg);
    }
    100% {
        transform: translateY(0px) skewX(0deg);
    }
}

@keyframes roadRunnerOut {
    0% {
        transform: translateY(0px) skewX(0deg);
    }
    30% {
        transform: translateY(-30px) skewX(-5deg);
    }
    100% {
        transform: translateY(1500px) skewX(30deg);
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

#modal-container {
    position: fixed;
    display: table;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}

#modal-container.open {
    transform: scale(1);
}

#modal-container.open .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.open .modal-background .modal {
    transform: translateX(-1500px);
    animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.open.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.open.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.open.out .modal-background .modal {
    animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}
#modal-container .modal-background .modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}
#modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

#modal-container .modal-background .modal .btn {
    margin: auto;
}
#modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
    color: black;
}