#grid {
    display: grid;
    position: absolute;
    width: 99%;
    height: 80%;
    grid-template-areas: "menu game chat" "live game chat" "live game chat";
    grid-template-rows: 10% 60% 30%;
    grid-template-columns: 25% 45% 30%;
}

#menu {
    grid-area: menu;
}

#live {
    grid-area: live;
}

#chat-area {
    grid-area: chat;

    position: relative;
    width: 100%;
}

#game {
    grid-area: game;
    margin: 30px;
}


video {
    width: 300px;
}