
.table {
    border-collapse: collapse;
}

.table td {
    min-width: 10vh;
    height: 10vh;
    padding: 20px;
    font-size: 8vh;
    font-family: "Consolas", monospace;
    text-align: center;
    border: 1px solid #333;
    cursor: pointer;
}

.table tr:first-child td {
    border-top-color: transparent;
}

.table tr:last-child td {
    border-bottom-color: transparent;
}

.table td:first-child {
    border-left-color: transparent;
}

.table td:last-child {
    border-right-color: transparent;
}

#game {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 40px auto;
    display: inline-block;
    width: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: .8;
}
