@font-face {
    font-family: 'ABeeZee';
    src: url(ABeeZee-Italic.ttf);
}
html, body {
    height: 100%;
    background-color: #161B22;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item{
    font-family: 'ABeeZee', fantasy;
    padding: 5px;
    margin: 30px;
    line-height: 20px;
    color: white;
    font-weight: normal;
    font-size: 4em;
    text-align: center;
}
.header{
    text-decoration: underline #05E7E7;
}
.name{
    width: 350px;
    font-family: 'ABeeZee', fantasy;
    font-size:30px;
    height: 45px;
    background: #DADADA;
    border-radius: 15px;
}
.image{
    width: 90px;
    height: 90px;
}
.image:hover{
    box-sizing: border-box;
    border: #05E7E7 5px solid;
}
.image:current{
    box-sizing: border-box;
    border: #05E7E7 5px solid;
}
.game{
    display: none;
}
