
#rus_roulette {
    width: 100%;
    height: 100%;
    background: darkgreen;
    box-shadow: inset rgba(0,0,0,.5) 0 0 200px;
}

#game{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
#rus_roulette:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    top: calc(50% - 115px);
    left: calc(50% - 50px);
    box-shadow:rgba(0,0,0,.3) 0 5px 30px, inset black 0 10px 15px, inset rgba(0,0,0,.3) 0 0 50px;
    border: 25px solid #222;
    z-index: 3;
}
#rus_roulette:after {
    content: '';
    display: block;
    width: 50px;
    height: 250px;
    position: absolute;
    border-radius: 15px;
    top: calc(50% - 40px);
    left: calc(50% - 25px);
    background: #222;
    z-index: 2;
    box-shadow: rgba(0,0,0,.3) 0 5px 30px, #210 25px 100px 0, #210 0px 100px 0, #210 -25px 100px 0;
}
#gun {
    margin: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background: #222;
    color: black;
    text-align: center;
    font-size: 360px;
    font-weight: 300;
    line-height: .358;
    z-index: 1;
    transition: all .2s ease-in-out;
    font-family: monospace;
}
#gun:before,
#gun:after {
    content: ':';
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
#gun:after {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
#title:before {
    content: 'BANG!';
    display: block;
    color: white;
    background: red;
    font-size: 80pt;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}